{% import "_includes/forms" as forms %}

{# {%- set class = [
    'nicetext',
    (field.code ? 'code' : null)
]|filter|join(' ') %}

{% set config = {
    id: name,
    name: name,
    value: value,
    class: class,
    maxlength: field.charLimit,
    showCharsLeft: true,
    placeholder: field.placeholder|t('site'),
    rows: field.initialRows
} %} #}

{# {{ dump(debug) }} #}

{% if field.showMap %}
    <div class="CoordField-input" style="width: 100%;" height="200">
        {% if field.mapProvider == 'mapbox' %}
            <style>
            .geocoder {
                position:absolute;
                z-index:1;
                width:50%;
                left:50%;
                margin-left:-25%;
                top:20px;
            }
            {# .geocoder > div > svg {
                display: none;
            } #}
            .mapboxgl-ctrl-geocoder { min-width:100%; }
            </style>
            <input type="hidden" name="{{ name ~ '[lat]' }}" value="{{ lat }}"/>
            <input type="hidden" name="{{ name ~ '[lng]' }}" value="{{ lng }}"/>
            <input type="hidden" name="{{ name ~ '[geocoderString]' }}" value="{{ geocoderString }}">

            <div class="geocoder"></div>
            <div data-map-provider="mapbox" 
                data-field-prefix="{{ name }}" 
                data-map-api-key="{{ parseEnv(field.apiKey) }}"
                style="height: 500px;">
            </div>
    
        {% elseif field.mapProvider == 'google' %}
            <input type="hidden" name="{{ name ~ '[lat]' }}" value="{{ lat }}"/>
            <input type="hidden" name="{{ name ~ '[lng]' }}" value="{{ lng }}"/>
            <input type="hidden" name="{{ name ~ '[geocoderString]' }}" value="{{ geocoderString }}"/>
            {# {{ forms.text({
                name: 'autocomplete',
                class: 'autocomplete'
            })}} #}
            <div data-map-provider="google"
                data-field-prefix="{{ name }}"
                data-map-api-key="{{ parseEnv(field.apiKey) }}"
                style="height: 500px;"></div>
        {% endif %}
    </div>
{% else %}
    {{ forms.text({
        id: 'lat',
        name: name ~ '[lat]',
        value: lat
    }) }}

    {{ forms.text({
        id: 'lng',
        name: name ~ '[lng]',
        value: lng
    }) }}
{% endif %}
