{% import "_includes/forms" as forms %}

{% set providers = geolocation.getProviders() %}
{% set providerOptions = geolocation.getProviderOptions() %}
{# {{ dump(providers) }} #}
<div data-provider-select data-providers="{{ providers | json_encode }}" class="ProviderSelect">
    {{ forms.selectField({
        label: 'Provider',
        id: 'providerSelect',
        name: 'provider',
        selected: settings['provider'],
        options: providerOptions
        })
    }}

    {% for provider in geolocation.getProviders() %}
        <div data-provider="{{ provider.handle }}" class="Provider">
            {{ provider.instance.settingsHtml() | raw }}
        </div>
    {% endfor %}
</div>